<div class="main">
	<div class="container">
		<div class="page-header">
      <h2><%= @mission.title %></h2>
    </div>
    <div class="btn-group" role="group" style="margin-bottom: 20px">
      <%= link_to 'タスクを追加', mission_task_new_path(@mission), :class => 'btn btn-default' %>
      <%= link_to 'ミッションを編集', edit_mission_path(@mission), :class => 'btn btn-default' %>
      <%= link_to "ミッションを削除", @mission, method: :delete, data: {confirm: "本当に削除しますか？"}, :class => 'btn btn-default' %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span>ミッション概要</span>
        </h3>
      </div>
      <div class="panel-body">
        <p><%= @mission.description %></p>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-body tree">
        <div id="chart-container"></div>
        <input type="hidden" id="selected-node">
      </div>
    </div>
  </div>
</div>

<!-- DetailTask -->
<div class="modal fade" id="DetailTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">タスクの編集</h4>
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img class="ccby-license" alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
      </div>
      <div class="modal-body">
        <form>
          <input id="DetailTaskID" type="hidden" class="form-control" value="">
          <div class="form-group">
            <label for="exampleInputEmail1">タスク名</label>
            <input id="DetailTaskTitle" type="text" class="form-control" value="">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">概要</label>
            <textarea id="DetailTaskDescription" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group input-group date datepicker">
            <label for="description">締め切り</label>
            <input id="DetailTaskDeadline" class="form-control"></input>
            <span class="input-group-addon">
          </div>
          <div class="form-group">
            <label for="description">状況</label>
            <select id="DetailTaskStatus" class="form-control">
              <option value="todo">未着手</option>
              <option value="doing">進行中</option>
              <option value="done">完了</option>
              <option value="cancel">取りやめ</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">公開範囲</label>
            <select id="DetailTaskNotify" class="form-control">
              <option value="own">個人的構想</option>
              <option value="organize">組織内限定</option>
              <option value="publish">外部公開</option>
              <option value="lod">LOD (CC BY)</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" id="ToAddChild" class="btn btn-default" data-dismiss="modal">子タスクを追加する</button>
        <button type="button" id="ToDeleteTask" class="btn btn-danger" data-dismiss="modal">タスクを削除する</button>
        <button type="button" id="ChangeDetail" class="btn btn-primary" data-dismiss="modal">詳細を変更する</button>
      </div>
    </div>
  </div>
</div>

<!-- DeleteTask -->
<div class="modal fade" id="ConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">タスクの削除</h4>
      </div>
      <div class="modal-body">
        <form>
          <input id="DeleteTaskID" type="hidden" class="form-control" value="">
          <div class="form-group">
            <p>本当に以下のタスクを削除しますか？</p>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">タスク名</label>
            <p id="DeleteTaskTitle"></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" id="DeleteTask" class="btn btn-danger" data-dismiss="modal">タスクを削除する</button>
      </div>
    </div>
  </div>
</div>

<!-- AddTask -->
<div class="modal fade" id="AddTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">子タスクの追加</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">タスク名</label>
            <input id="AddTaskTitle" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">概要</label>
            <textarea id="AddTaskDescription" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group input-group date datepicker">
            <label for="description">締め切り</label>
            <input id="AddTaskDeadline" class="form-control"></input>
            <span class="input-group-addon">
          </div>
          <div class="form-group">
            <label for="description">状況</label>
            <select id="AddTaskStatus" class="form-control">
              <option value="todo">未着手</option>
              <option value="doing">進行中</option>
              <option value="done">完了</option>
              <option value="cancel">取りやめ</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">公開範囲</label>
            <select id="AddTaskNotify" class="form-control">
              <option value="own">個人的構想</option>
              <option value="organize">組織内限定</option>
              <option value="publish">外部公開</option>
              <option value="lod">LOD (CC BY)</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" id="AddChild" class="btn btn-primary" data-dismiss="modal">追加する</button>
      </div>
    </div>
  </div>
</div>

<style>
 .ccby-license{
	 height : 15px;
	 width : 80px;
	 display : none;
 }
 .ccby-active{
	 display : block !important;
 }
 
.oc-export-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  top: initial;
  background: rgba(0,0,0,.15);
}

#chart-container {
  height: 600px;
}

.tree {
  background: #E2E4E6;
}

.orgchart {
  display: block;
  background-image: none;
}

/*
.orgchart .node .title {
  height: 100px;
  padding: 8px;
  white-space: normal;
  font-size: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  color: black;
}
*/

.orgchart .node .title {
  height: 80px;
  padding: 8px;
  white-space: normal;
  font-size: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
  color: black;
}

.orgchart .node .add-button {
  height: 20px;
  white-space: normal;
  font-size: 12px;
  background-color: #800000;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  cursor: pointer;
  color: #fff;
}

.orgchart .node .delete-button {
  position: absolute;
  top : -5px;
  right : -5px;
  height: 20px;
  width: 20px;
  white-space: normal;
  font-size: 12px;
  background-color: #808080;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.orgchart .node .description {
  display : none;
}

.orgchart .node .deadline_at {
  display : none;
}

.orgchart .node .status {
  display : none;
}

 .orgchart .node .notify {
	 display : none;
 }
 
.orgchart .node .title:hover {
  background-color: #EDEFF0;
  border-bottom-color: #D6DADC;
}

.orgchart .node:hover {
  background-color: transparent;
}

.orgchart .node.focused {
  background-color: transparent;
}
</style>

<script>
var options = {
  'data' : '/MissionForest/api/missions/<%= @mission.id %>/tasks',
  'pan': true,
  'draggable': true,
  'exportButton': true,
  'exportFilename': '<%= @mission.title %>',
  'createNode': function($node, data) {
      $node.append('<div class="add-button">+</div>')
      $node.append('<div class="delete-button">X</div>')
      $node.append('<div class="description">' + data["description"] + '</div>')
      $node.append('<div class="deadline_at">' + data["deadline_at"] + '</div>')
      $node.append('<div class="status">' + data["status"] + '</div>')
      $node.append('<div class="notify">' + data["notify"] + '</div>')
  }
}

$('#chart-container').orgchart(options)
.on('touchmove', function(event) {
  event.preventDefault()
})
.on('click', '.node .title', function() {
  var deadline,
    $this = $(this).parent();

  $('#selected-node').val($this.find('.title').text()).data('node', $this)
  $('#DetailTask').modal('show')
  $('#DetailTaskID').val($this.attr('id'))
  $('#DetailTaskTitle').val($this.children('div .title').text())
  $('#DetailTaskDescription').val($this.children('div .description').text())
  deadline = $this.children('div .deadline_at').text()
  if (deadline !== 'null') {
    $('#DetailTaskDeadline').val($this.children('div .deadline_at').text())
  }
	 $('#DetailTaskStatus').val($this.children('div .status').text())
	 $('#DetailTaskNotify').val($this.children('div .notify').text())
	 if ($this.children('div .notify').text() == 'lod'){
		 $('.ccby-license').addClass('ccby-active');
	 }
	 else {
		 $('.ccby-license').removeClass('ccby-active');
	 }
})
.on('click', '.node .add-button', function() {
  var $this = $(this).parent();

  $('#selected-node').val($this.find('.title').text()).data('node', $this)
  $('#AddTask').modal('show')
  $('#AddTaskTitle').val('')
  $('#AddTaskDescription').val('')
})
.on('click', '.node .delete-button', function() {
  var $this = $(this).parent();

  $('#selected-node').val($this.find('.title').text()).data('node', $this)
  $('#ConfirmDelete').modal('show')
  $('#DeleteTaskID').val($this.attr('id'));
  $('#DeleteTaskTitle').text($this.find('.title').text())
})
.on('click', '.orgchart', function(event) {
  if (!$(event.target).closest('.node').length) {
    $('#selected-node').val('')
  }
})

$("#ToAddChild").click(function(){
  $('#AddTask').modal('show')
  $('#AddTaskTitle').val('')
  $('#AddTaskDescription').val('')
})
$("#ToDeleteTask").click(function(){
  $('#ConfirmDelete').modal('show')
  $('#DeleteTaskID').val($('#DetailTaskID').val())
  $('#DeleteTaskTitle').text($('#DetailTaskTitle').val())
})



$("#DeleteTask").click(function(){
  var search = function(data, id){
    if (data['id'] === id){
      return data
    }
    var ret = null
    $.each(data['children'], function(key, obj){
      r = search(obj, id)
      if (r !== null){
        ret = r
      }
    })
    return ret
  }
  ,execute_delete = function(data){
    var id = data['id']

    $.ajax({
      type: 'DELETE',
      url: '/MissionForest/api/tasks/' + id + '/delete',
      data: {
        'id' : id
      },
      success: function(data) {
        console.log(data)
      }
    })

    $.each(data['children'], function(key, obj){
      execute_delete(obj)
    })
  }

  var hierarchy = $('#chart-container').orgchart('getHierarchy')
  execute_delete(search(hierarchy, $('#DeleteTaskID').val()))

  var $chartContainer = $('#chart-container'),
    $node = $chartContainer.find('#' + $('#DeleteTaskID').val())
  $('#chart-container').orgchart('removeNodes', $node)
  var hierarchy = $('#chart-container').orgchart('getHierarchy')
  console.log(hierarchy)
  $.ajax({
    type: 'POST',
    url: '/MissionForest/api/missions/<%= @mission.id %>/hierarchy',
    data: {
      mission: {
        hierarchy: JSON.stringify(hierarchy, null, 2)
      }
    },
    success: function(data) {
      console.log(JSON.stringify(hierarchy, null, 2))
    }
  })
})

$("#ChangeDetail").click(function(){
  var id = $('#DetailTaskID').val()
  $.ajax({
    type: 'PUT',
    url: '/MissionForest/api/tasks/' + id + '/update',
    data: {
      task: {
          title: $('#DetailTaskTitle').val(),
          description: $('#DetailTaskDescription').val(),
          deadline_at: $('#DetailTaskDeadline').val(),
          status: $('#DetailTaskStatus').val(),
          notify: $('#DetailTaskNotify').val()
      }
    },
    success: function(data) {
      var title, description, deadline_at,
        status, notify, $container

		id = data['task']['id']
		title = data['task']['title']
		description = data['task']['description']
		deadline_at = data['task']['deadline_at']
		status = data['task']['status']
		notify = data['task']['notify']

		$container = $('#chart-container').find('#' + id)
		$container.find('.title').text(title)
		$container.find('.description').text(description)
		$container.find('.deadline_at').text(deadline_at)
		$container.find('.status').text(status)
		$container.find('.notify').text(notify)
    }
  })
})
 
 $("#AddChild").click(function(){
	 console.log($('#AddTaskDeadline').val())
	 console.log($('#AddTaskStatus').val())
	 var description = $('#AddTaskDescription').val()
	 var deadline_at = $('#AddTaskDeadline').val()
	 var status = $('#AddTaskStatus').val()
	 var notify = $('#AddTaskNotify').val()


  $.ajax({
    type: 'POST',
    url: '/MissionForest/api/missions/<%= @mission.id %>/task',
    data: {
      task: {
          title: $('#AddTaskTitle').val(),
          description: description,
          sub_task_of: $('#selected-node').data('node')[0].id,
          deadline_at: deadline_at,
          status: status,
          notify: notify
      }
    },
    success: function(data) {
      var $chartContainer = $('#chart-container')
      var $node = $('#selected-node').data('node')
      var hasChild = $node.parent().attr('colspan') > 0 ? true : false
		if (!hasChild) {
			$chartContainer.orgchart('addChildren', $node, {
				'children': [{ 'name': data.task.title, 'relationship': '100', 'id': data.task.id, 'children': [], 'description':description, 'deadline_at':deadline_at, 'status':status, 'notify':notify }]
			}, $.extend({}, $chartContainer.find('.orgchart').data('options'), { depth: 0 })
			)
		} else {
			$chartContainer.orgchart('addSiblings', $node.closest('tr').siblings('.nodes').find('.node:first'), {
				'siblings': [{ 'name': data.task.title, 'relationship': '110', 'id': data.task.id, 'children': [] }]
			})
		}
    }
  })
 })
</script>
